<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
        <!-- 根标签 -->
<configuration>
    <properties>
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/elephant?useUnicode=true"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </properties>
    <!--<settings>
         打印查询语句
          <setting name="logImpl" value="STDOUT_LOGGING" />
      </settings>-->
</configuration>