<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youmias.elephant.dao.CityMapper">
  <resultMap id="BaseResultCountyMap" type="com.youmias.elephant.po.County">
    <id column="ccId" jdbcType="VARCHAR" property="id" />
    <result column="ccCode" jdbcType="INTEGER" property="code" />
    <result column="ccName" jdbcType="VARCHAR" property="name" />
    <result column="ccPid" jdbcType="VARCHAR" property="parentId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.youmias.elephant.po.City">
    <id column="cId" jdbcType="VARCHAR" property="id" />
    <result column="cCode" jdbcType="INTEGER" property="code" />
    <result column="cName" jdbcType="VARCHAR" property="name" />
    <result column="cPid" jdbcType="VARCHAR" property="parentId" />
    <collection property="countys" javaType="List" ofType="com.youmias.elephant.po.County" autoMapping="true" resultMap="BaseResultCountyMap"></collection>
  </resultMap>
  <resultMap id="BaseNativeResultMap" type="com.youmias.elephant.po.City">
    <id column="cId" jdbcType="VARCHAR" property="id" />
    <result column="cCode" jdbcType="INTEGER" property="code" />
    <result column="cName" jdbcType="VARCHAR" property="name" />
    <result column="cPid" jdbcType="VARCHAR" property="parentId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, parent_id
  </sql>
  <select id="getCountyList" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
        c.id AS cId,
        c.`name` AS cName,
        c.code AS cCode,
        c.parent_id AS cPid,
        cc.id AS ccId,
        cc.`name` AS ccName,
        cc.code AS ccCode,
        cc.parent_id AS ccPid
        from city c
     LEFT JOIN county cc ON c.id = cc.parent_id
     WHERE c.id = #{cid,jdbcType=VARCHAR};
  </select>
  <select id="getAllCitys" resultMap="BaseNativeResultMap">
    select
        c.id AS cId,
        c.`name` AS cName,
        c.code AS cCode,
        c.parent_id AS cPid
    from city c
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from city
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from city
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.youmias.elephant.po.City">
    insert into city (id, code, name, 
      parent_id)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.youmias.elephant.po.City">
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youmias.elephant.po.City">
    update city
    <set>
      <if test="code != null">
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youmias.elephant.po.City">
    update city
    set code = #{code,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>