<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youmias.elephant.dao.ProblemMapper">
  <resultMap id="BaseResultMap" type="com.youmias.elephant.po.Problem">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="industry_one_id" jdbcType="INTEGER" property="industryOneId" />
    <result column="industry_two_id" jdbcType="INTEGER" property="industryTwoId" />
    <result column="industry_one_name" jdbcType="VARCHAR" property="industryOneName" />
    <result column="industry_two_name" jdbcType="VARCHAR" property="industryTwoName" />
    <result column="sponsor_id" jdbcType="INTEGER" property="sponsorId" />
    <result column="handler_id" jdbcType="INTEGER" property="handlerId" />
    <result column="problem_concat_id" jdbcType="VARCHAR" property="problemConcatId" />
    <result column="cost" jdbcType="INTEGER" property="cost" />
    <result column="cost_gold" jdbcType="INTEGER" property="costGold" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.youmias.elephant.po.Problem">
    <result column="file" jdbcType="LONGVARBINARY" property="file" />
    <result column="caption" jdbcType="LONGVARBINARY" property="caption" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `rank`, `title`, `description`, `status`, industry_one_id, industry_two_id, industry_one_name , industry_two_name , sponsor_id,
    handler_id, problem_concat_id, cost, cost_gold, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    file, caption
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from problem
    where id = #{id,jdbcType=VARCHAR}
  </select>
    <select id="selectBySponsorId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from problem
        where sponsor_id = #{sponsorId,jdbcType=INTEGER}
    </select>
    <select id="selectByHandlerId" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from problem
        where handler_id = #{handlerId,jdbcType=INTEGER}
    </select>
    <select id="likeSelectKeyword" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from problem p
    where p.title like "%"#{keyword}"%"
  </select>
  <select id="selectAll"  resultMap="ResultMapWithBLOBs">
      select
      <include refid="Base_Column_List" />
      ,
      <include refid="Blob_Column_List" />
      from problem where status = #{status,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from problem
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.youmias.elephant.po.Problem">
    insert into problem (id, `rank`, `title`,
      `description`, `status`, industry_one_id,
      industry_two_id, industry_one_name , industry_two_name ,sponsor_id, handler_id,
      problem_concat_id, cost, cost_gold,
      create_time, update_time, file,
      caption)
    values (#{id,jdbcType=VARCHAR}, #{rank,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{industryOneId,jdbcType=INTEGER},
      #{industryTwoId,jdbcType=INTEGER},#{industryOneName,jdbcType=VARCHAR},#{industryTwoName,jdbcType=VARCHAR}, #{sponsorId,jdbcType=INTEGER}, #{handlerId,jdbcType=INTEGER},
      #{problemConcatId,jdbcType=VARCHAR}, #{cost,jdbcType=INTEGER}, #{costGold,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{file,jdbcType=LONGVARBINARY},
      #{caption,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.youmias.elephant.po.Problem">
    insert into problem
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="rank != null">
        rank,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="industryOneId != null">
        industry_one_id,
      </if>
      <if test="industryTwoId != null">
        industry_two_id,
      </if>
      <if test="sponsorId != null">
        sponsor_id,
      </if>
      <if test="handlerId != null">
        handler_id,
      </if>
      <if test="problemConcatId != null">
        problem_concat_id,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="costGold != null">
        cost_gold,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="file != null">
        file,
      </if>
      <if test="caption != null">
        caption,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rank != null">
        #{rank,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="industryOneId != null">
        #{industryOneId,jdbcType=INTEGER},
      </if>
      <if test="industryTwoId != null">
        #{industryTwoId,jdbcType=INTEGER},
      </if>
      <if test="sponsorId != null">
        #{sponsorId,jdbcType=INTEGER},
      </if>
      <if test="handlerId != null">
        #{handlerId,jdbcType=INTEGER},
      </if>
      <if test="problemConcatId != null">
        #{problemConcatId,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=INTEGER},
      </if>
      <if test="costGold != null">
        #{costGold,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="file != null">
        #{file,jdbcType=LONGVARBINARY},
      </if>
      <if test="caption != null">
        #{caption,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youmias.elephant.po.Problem">
    update problem
    <set>
      <if test="rank != null">
        rank = #{rank,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="industryOneId != null">
        industry_one_id = #{industryOneId,jdbcType=INTEGER},
      </if>
      <if test="industryTwoId != null">
        industry_two_id = #{industryTwoId,jdbcType=INTEGER},
      </if>
      <if test="sponsorId != null">
        sponsor_id = #{sponsorId,jdbcType=INTEGER},
      </if>
      <if test="handlerId != null">
        handler_id = #{handlerId,jdbcType=INTEGER},
      </if>
      <if test="problemConcatId != null">
        problem_concat_id = #{problemConcatId,jdbcType=VARCHAR},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=INTEGER},
      </if>
      <if test="costGold != null">
        cost_gold = #{costGold,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="file != null">
        file = #{file,jdbcType=LONGVARBINARY},
      </if>
      <if test="caption != null">
        caption = #{caption,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.youmias.elephant.po.Problem">
    update problem
    set rank = #{rank,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      industry_one_id = #{industryOneId,jdbcType=INTEGER},
      industry_two_id = #{industryTwoId,jdbcType=INTEGER},
      sponsor_id = #{sponsorId,jdbcType=INTEGER},
      handler_id = #{handlerId,jdbcType=INTEGER},
      problem_concat_id = #{problemConcatId,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=INTEGER},
      cost_gold = #{costGold,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      file = #{file,jdbcType=LONGVARBINARY},
      caption = #{caption,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youmias.elephant.po.Problem">
    update problem
    set rank = #{rank,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      industry_one_id = #{industryOneId,jdbcType=INTEGER},
      industry_two_id = #{industryTwoId,jdbcType=INTEGER},
      sponsor_id = #{sponsorId,jdbcType=INTEGER},
      handler_id = #{handlerId,jdbcType=INTEGER},
      problem_concat_id = #{problemConcatId,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=INTEGER},
      cost_gold = #{costGold,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateHnaleFiled" parameterType="com.youmias.elephant.po.Problem">
    update problem
    set handler_id = #{handlerId,jdbcType=INTEGER},
    status = #{status,jdbcType=INTEGER},
    update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateCloseFiled" parameterType="com.youmias.elephant.po.Problem">
    update problem
    set status = #{status,jdbcType=INTEGER},
    update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>
