<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youmias.elephant.dao.ProvinceMapper">
  <resultMap id="BaseResultCityMap" type="com.youmias.elephant.po.City">
    <id column="cId" jdbcType="INTEGER" property="id" />
    <result column="cCode" jdbcType="INTEGER" property="code" />
    <result column="cName" jdbcType="VARCHAR" property="name" />
    <result column="cPid" jdbcType="INTEGER" property="provinceId" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.youmias.elephant.po.Province">
    <id column="pId" jdbcType="INTEGER" property="id" />
    <result column="pCode" jdbcType="INTEGER" property="code" />
    <result column="pName" jdbcType="VARCHAR" property="name" />
    <collection property="citys" javaType="List" ofType="com.youmias.elephant.po.City" autoMapping="true" resultMap="BaseResultCityMap"></collection>
  </resultMap>
  <resultMap id="BaseResultNativeMap" type="com.youmias.elephant.po.Province">
    <id column="pnId" jdbcType="INTEGER" property="id" />
    <result column="pnCode" jdbcType="INTEGER" property="code" />
    <result column="pnName" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from province
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getProvinceList" resultMap="BaseResultNativeMap">
    select
    a.code AS pnCode,
    a.name AS pnName,
    a.id AS pnId
    from province a
  </select>
  <select id="getCityList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
        p.id AS pId,
        p.`name` AS pName,
        p.code AS pCode,
        c.id AS cId,
        c.`name` AS cName,
        c.code AS cCode,
        c.province_id AS cPid
        from province p
     LEFT JOIN city c ON p.id = c.province_id
     WHERE p.id = #{pid,jdbcType=INTEGER};
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from province
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youmias.elephant.po.Province">
    insert into province (id, code, name
      )
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.youmias.elephant.po.Province">
    insert into province
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youmias.elephant.po.Province">
    update province
    <set>
      <if test="code != null">
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youmias.elephant.po.Province">
    update province
    set code = #{code,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>